#space-table, #attachments-table{
    table-layout: fixed;
}
#space-table tbody, #attachments-table tbody{
    display: block;
    height: 250px;
    width: 100%;
    overflow: auto;
}
#space-table thead, #attachments-table thead{
    display: block;   
}

.space-key{
    width: 10%;
}
.space-name{
    width: 20%;
}
.space-description{
    width: 35%;
}
.space-home{
    width: 20%;
}
.space-title{
    width: 20%;
}

#space-table .radio-container, #space-table .radio-header{
    width: 21px;
}
#space-table .radio-header{
    width: 21px;
    visibility: hidden;
}

.delete-btn{
    color: #B22222;
    cursor: pointer;
}
.delete-btn:hover{
    color: red;
}
.delete-btn-header{
    visibility: hidden;
}
.radio{
    cursor: pointer;
}
.attachment-name{
    width: 25%;
}
.attachment-creator{
    width: 10%;
}
.attachment-creationDate{
    width: 15%;
}
.attachment-size {
    width: 5%;
}
th.save-csv{
    visibility: hidden;
}
.save-csv{
    width: 5%;
    color: #808080;
}
td.save-csv:hover{
    cursor: pointer;
    color: black
}
#confirm-delete-btn a{
    color: white;
    text-decoration: none;
}
