<!DOCTYPE html>
<html>
    <head>
        <title>Questionaire</title>
        <meta charset="UTF-8">
        <meta name="decorator" content="atl.general">
    </head>
    <body>
        <h1>Who are you!?</h1>
        <form method="GET" action="$req.contextPath/plugins/questionaire/output.action">
            <input type="text" name="txtName" placeholder="Name...">
            <input type="submit" name="submit" value="submit">
        </form>
    </body>
</html>
