<!DOCTYPE html>
<html>
    <head>
        <title>AUI</title>
        <meta charset="UTF-8">
        <meta name="decorator" content="atl.general">
        #requireResource("jp.co.kodnet.plugins.sample.hello-world:hello-world-resources")
    </head>
    <body>
        <form class="aui" action="$req.contextPath/plugins/spacelist/create.action" method="POST">
            <div class="field-group">
                <label for="txtSpaceName">Space name<span class="aui-icon icon-required">required</span></label>
                <input class="text" type="text" id="txtSpaceName" name="txtSpaceName" placeholder="Space Name..."><br>
            </div>
            <div class="field-group">
                <label for="txtSpaceKey">Space key<span class="aui-icon icon-required">required</span></label>
                <input class="text" type="text" id="text-input" name="txtSpaceKey" placeholder="Space Key..."><br>
            </div>
            <div class="field-group">
                <button class="aui-button">Add</button><button class="aui-button">Cancel</button>
            </div>
        </form>
        <table class="aui">
            <thead>
                <tr>
                    <th>Name Space</th>
                    <th>Home Page</th>
                    <th>Description</th>
                    <th>Display Title</th>
                    <th>Key</th>
                </tr>
            </thead>
            <tbody>
                #foreach($value in $spaceManager.getAllSpaces())
                <tr>
                    <td>$value.getName()</td>
                    <td>$value.getHomePage()</td>
                    <td>$value.getDescription()</td>
                    <td>$value.getDisplayTitle()</td>
                    <td>$value.getKey()</td>
                </tr>
                #end
            </tbody>
        </table>
    </body>
</html>
