<!DOCTYPE html>
<html>
    <head>
        <title>Hello World Atlassian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="decorator" content="atl.general">
    </head>
    <body>
        <h1>Hello World</h1>
        <p>Atlassian Plugin - Confluence</p>
    </body>
</html>
