#requireResource("jp.co.kodnet.plugins.sample.hello-world:hello-world-resources")
<h1>$i18n.getText("helloworld.macros.velocity.lang.title")</h1>
<ul>
    #foreach($key in $pages.keySet())
    <li>
        <a href="$req.contextPath/pages/viewpage.action?pageId=$key" target="_blank">$pages.get($key)</a>
    </li>
    #end
</ul>
#if($notFound == 1)
<div class="aui-message aui-message-error">
    <p class="title">
        <strong>$i18n.getText("helloworld.lang.errorTitle")</strong>
    </p>
    <p>$i18n.getText("helloworld.macros.velocity.lang.mess.pageNotFound")</p>
</div>
#elseif($spaceNotFound ==1)
<div class="aui-message aui-message-error">
    <p class="title">
        <strong>$i18n.getText("helloworld.lang.errorTitle")</strong>
    </p>
    <p>$i18n.getText("helloworld.macros.velocity.lang.mess.spaceNotFound")</p>
</div>
#end
