#requireResource("jp.co.kodnet.plugins.sample.hello-world:hello-world-resources")
#if($notFound == 1)
    <p>$i18n.getText("helloworld.macros.velocity.lang.mess.pageNotFound")</p>
#elseif($spaceNotFound ==1)
    <p>$i18n.getText("helloworld.macros.velocity.lang.mess.spaceNotFound")</p>
#elseif($noChild ==1 )
    <p>No child</p>
#end
<ul>
    #foreach($key in $pages.keySet())
    <li>
        <a href="$req.contextPath/pages/viewpage.action?pageId=$key" target="_blank">$pages.get($key)</a>
    </li>
    #end
</ul>

