<!DOCTYPE html>
<html>
    <head>
        <title>$i18n.getText("helloworld.lang.vmTitle")</title>
        <meta charset="UTF-8">
        <meta name="decorator" content="atl.general">
        #requireResource("jp.co.kodnet.plugins.sample.hello-world:hello-world-resources")
        #requireResource('com.atlassian.auiplugin:dialog2')
    </head>
    <body>
        <div id="message01" class="aui-message aui-message-error" style="display: none">
            <p class="title"><strong>Error!</strong></p>
            <p id="body">$i18n.getText($action.message)</p>
        </div>
        <form class="aui" action="$req.contextPath/plugins/spacelist/create.action" method="POST">
            <div class="field-group">
                <label for="txtSpaceName">$i18n.getText("helloworld.lang.spaceName")<span class="aui-icon icon-required">required</span></label>
                <input class="text" type="text" id="txtSpaceName" name="txtSpaceName" required="true"><br>
            </div>
            <div class="field-group">
                <label for="txtSpaceKey">$i18n.getText("helloworld.lang.spaceKey")<span class="aui-icon icon-required">required</span></label>
                <input class="text" type="text" id="txtSpaceKey" name="txtSpaceKey" required="true"><br>
            </div>
            <div class="field-group">
                <button class="aui-button" id="addBtn">$i18n.getText("helloworld.lang.add")</button>
            </div>
        </form>

        <table class="aui" id="space-table">
            <thead>
                <tr>
                    <th class="radio-header"><input type="radio" disabled="true"></th>
                    <th>$i18n.getText("helloworld.lang.key")</th>
                    <th>$i18n.getText("helloworld.lang.spaceName")</th>
                    <th>$i18n.getText("helloworld.lang.homePage")</th>
                    <th>$i18n.getText("helloworld.lang.description")</th>
                    <th>$i18n.getText("helloworld.lang.displayTitle")</th>
                    
                    <th><span class="aui-icon aui-icon-small aui-iconfont-close-dialog delete-btn-header"></span></th>
                </tr>
            </thead>
            <tbody>
                #foreach($value in $spaceManager.getAllSpaces())
                <tr>
                    
                    <td class="radio-container">
                        <input class="radio" type="radio" name="radiobutton" value="$req.contextPath/plugins/spacelist/spacecontent.action?option=1&spacekey=$value.getKey()">
                    </td>
                    <td>$value.getKey()</td>
                    <td>
                        <a href="$req.contextPath/display/$value.getKey()" target="_blank">
                            $value.getName()
                        </a>
                    </td>
                    <td>$value.getHomePage().getTitle()</td>
                    <td>$value.getDescription().getDisplayTitle()</td>
                    <td>$value.getDisplayTitle()</td>
                    <td>
                        <a href="$req.contextPath/plugins/spacelist/deletespace.action?option=3&spacekey=$value.getKey()">
                            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog delete-btn"></span>
                        </a>
                    </td>
                </tr>
                #end
            </tbody>
        </table>

        <form class="aui" id="pages" style="display: none;">
            <label id="combobox-label" for="page-select"></label>
            <p>
                <select id="page-select" class="select">
                </select>
            </p>
        </form>
        <section role="dialog" id="attachment-dialog" class="aui-layer aui-dialog2 aui-dialog2-xlarge" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h1 class="aui-dialog2-header-main" id="dialog-header">Attachments</h1>
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>
            <div class="aui-dialog2-content">
                <table class='aui' id="attachments-table">
                    <thead>
                        <tr>
                            <th>$i18n.getText('helloworld.lang.name')</th>
                            <th>$i18n.getText('helloworld.lang.size')</th>
                            <th>$i18n.getText('helloworld.lang.creator')</th>
                            <th>$i18n.getText('helloworld.lang.creationDate')</th>
                        </tr>
                    </thead>
                    <tbody id="attachment-table-body"></tbody>
                </table>
            </div>
            <footer class="aui-dialog2-footer">
                <div class="aui-dialog2-footer-hint">this is a hint</div>
            </footer>
        </section>
    </body>
</html>
